:root{
    font-size:60%
}
@media (max-width: 699px) {
    :root {
        font-size: 40%
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 210vh;
}
body {
    font-weight: 500;
    font-family: Poppins;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#container {
    max-width: 90rem;
    height: 210vh;
    width: 90vw;
}
@media(min-width: 700px) {
    :root {
        font-size: 62.5% /* 1 rem = 10px */
    }
}