#container {
    line-height: 3rem;
    width: 70%;
    height: 100%;
}
#container #recipebox {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#container #recipebox #textContent {
    width: 80%;
}
#container #recipebox #boxinfo {
    text-align: center;
    border-radius: 10px;
    border-left: 1px solid #dfdfdfcc;
    border-right: 1px solid #dfdfdfcc;
    border-bottom: 4px solid #dfdfdfcc;
    height: 100%;
}
#container #recipebox #boxinfo .grid {
    flex-direction: column;
    display: flex;
    padding: 1rem;
}
#container #recipebox #boxinfo .grid h4 {
    font-size: 1.4rem;
}
#container #recipebox #boxinfo .grid .indicativeText {
    color: #eba851;
}
#container #recipebox #boxinfo .grid span {
    font-size: 1.2rem;
}
#container #recipebox #boxinfo i {
    float: left;
}
#container #recipebox #boxinfo .grid:first-of-type{
    order: 1;
    border-bottom: 1px solid #dfdfdfcc;
}
#container #recipebox #boxinfo .grid:first-of-type i {
    color: #eba851;
}
#container #instructions {  
    width: 80%;
}
#container h1 {
    margin-bottom: 2rem;
    margin-top: 10rem;
}
#container p {
    line-height: 2rem;
    margin-left: 2rem;
}
#container #recipebox #textContent input[type="checkbox"] {
    float: left;
}
#container #recipebox #textContent p {
    margin-left: 3rem;
    line-height: 3rem;
    margin-bottom: 3rem;
}
#container #recipebox #textContent h3 {
    font-weight: normal;
    font-style: italic;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#container #recipebox #textContent h2,
#container #instructions h2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
#container #instructions p {
    margin-left: 6rem;
    margin-bottom: 4rem;
}
#container #instructions .boxed {
    float: left;
    border-radius: 5px;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eba851;;
    color: white;
    font-size: 2rem;
    min-width: 25px;
}
